* {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  margin: 0;
}
.container {
  width: 60vw;
  position: relative;
  margin: auto;
}
#benefits {
  position: relative;
  height: 60vh;
  background-color: #f0efef;
  color: #033048;
  font-weight: 100;
  font-size: 13px;
}
#testimony {
  position: relative;
  margin: auto;
  background: url("../img/testimonial_bg.jpg");
  background-size: cover;
  height: 38vh;
  color: #ffffff;
}
header {
  position: relative;
  margin: auto;
  background: url("../img/header_bg.jpg");
  background-size: cover;
  height: 70vh;
  color: #ffffff;
}
h1 {
  position: absolute;
  top: 3vh;
  left: 8vw;
  font-weight: 800;
  font-size: 24px;
}
h2 {
  position: relative;
  top: 28vh;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
#top {
  display: block;
  position: relative;
  top: 32vh;
  margin: auto;
  background-color: #f9e42e;
  border: none;
  border-radius: 5px;
  width: 12vw;
  padding: 12px;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  color: #121212;
}
h3 {
  position: absolute;
  top: 8vh;
  left: 8vw;
  font-weight: 600;
  font-size: 20px;
}
section#benefits p {
  position: absolute;
  top: 15vh;
  left: 8vw;
  color: #606161
}
ul {
  position: absolute;
  top: 22vh;
  left: 10vw;
  line-height: 40px;
  color: #606161;
}
section#testimony p{
  position: relative;
  width: 30vw;
  top: 10vh;
  margin: auto;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  line-height: 1.8em;
}
p > q{
  font-style: italic;
}
#yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #f9e42e;
}
#social {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin: auto;
  background-color: inherit;
}
button {
  background-color: #033048;
  border: none;
  border-radius: 5px;
  width: 180px;
  padding: 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
}
footer {
  background-color: #121212;
  text-align: center;
}
h5 {
  padding: 30px 0 20px 0;
  font-weight: 800;
  font-size: 24px;
  color: #f9e42e;
}
div img {
  height: 18px;
}
footer p{
  padding: 30px;
  font-weight: 600;
  font-size: 9px;
  color: #ffffff;
}
